<!DOCTYPE html>
<html>

<head>
  <title>POST VALIDATION</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
  <h1>Post Validation</h1>
  <div id="error"></div>


  <form id="form" action="/listKomentar" method="post">
    <fieldset>
      <legend>Form</legend>
      <label for="nama">Nama:</label><br/>
      <input id="name" type="text" name="nama" /><br /><br />
      <label for="komentar">Komentar:</label><br/>
      <input id="coment" type="text" name="komentar" /><br /><br />
      <error id="alert-caps"></error>
      <input type="submit" value="submit" />
    </fieldset>
  </form>

  <script type="text/javascript">
    const name = document.getElementById('name')
    const coment = document.getElementById('coment')
    const form = document.getElementById('form')
    const errorElement = document.getElementById('error')


    form.addEventListener('submit', (e) => { 
      let messages = []
      if (name.value === '' || name.value == null) {
        messages.push("name is required")
      }
      if (messages.length > 0) {
        e.preventDefault()
        errorElement.innerText = messages.join(', ')
      }
    })

    form.addEventListener('submit', (e) => {
      var uservalue = document.getElementById('coment').value;
      let messages = []
      if(uservalue.replace(/\s/g, "").length <= 0) {
        messages.push("tidak boleh ada spasi ketika form masih kosong")
      }
      if(messages.length > 0){
        e.preventDefault()
        errorElement.innerText = messages.join(', ')
      }
    })

    // start fungsi validasi kata yang tidak pantas
    form.addEventListener('submit', (e) => {
      let messages = []
      const inp = document.getElementById("coment").value;
      const inputSplit = inp.split(" ");
      const ktp = ["cok", "asu", "babi", "jancok"];

      ada = false;
      // var input2 = document.getElementById('coment').value = ktp.includes(inputSplit);

      for (let i=0; i<inputSplit.length; i++) {
        if (ktp.includes(inputSplit[i]) == true) {
          ada = true;
        }
        else if (ktp.includes(inputSplit.length[i]) == false) {
          tidak = false;
        }
      }
      console.log(ada)
      if(true) {
        messages.push("form mengandung kata yang tidak pantas")
        console.log(inputSplit)
      } if(messages.length > 0) {
        e.preventDefault()
        errorElement.innerText = messages.join(', ')
      } 
      else {
        console.log(inputSplit)
      }
    })
    //end fungsi validasi

    //fungsi validasi selain angka dan tanda baca
    form.addEventListener('submit', (e) => {
      let messages = []
      const inp = document.getElementById("coment").value;
      const inputSplit = inp.split(" ");
      const bknTandaBaca = ["[", "}", "{", "@", "#"];

      ada = false;

      for (let i = 0; i < inputSplit.length; i++) {
        if (bknTandaBaca.includes(inputSplit[i]) == true) {
          ada = true;
        }
        else if (bknTandaBaca.includes(inputSplit.length[i]) == false) {
          tidak = false;
        }
      }
      console.log(inputSplit)
      if(true) {
        messages.push("form mengandung karakter selain tanda baca");
        console.log(inputSplit);
      } if (messages.length > 0) {
        e.preventDefault()
        errorElement.innerText = messages.join(', ')
      }
      else {
        console.log(inputSplit)
      }
    })
    
  </script>
</body>
</html>