<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
  </head>
  <body>
    <h1>Submitted form details</h1>

    <details>
      <summary>Nama</summary>
      <p><%= nama %></p>
    </details>
    <details>
      <summary>Komentar</summary>
      <p><%= komentar %></p>
    </details>
  </body>
</html> -->